@model IEnumerable<outils_dotnet.Areas.Identity.Data.User>

@{
    ViewData["Title"] = "Utilisateurs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Liste des utilisateurs</h1>

<p>
    @if (User.IsInRole("ADMIN"))
    {
        <a asp-action="Create">Créer un nouvel utilisateur</a>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prenom)
            </th>
            <th>
                Permissions
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prenom)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Détails</a>
                @if (User.IsInRole("ADMIN"))
                {
                    <a asp-action="Edit" asp-route-id="@item.Id">| Modifier</a>
                    <a asp-action="Delete" asp-route-id="@item.Id">| Supprimer</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
